numpy
pandas
scikit-learn
lightgbm
matplotlib
seaborn
tqdm
pyarrow
fastparquet
opencv-python
Pillow
torch
torchvision
torchaudio
onnxruntime
onnx
insightface
scipy
faiss-cpu
streamlit
python-dotenv
jupyter
